  .disabled-link {
    pointer-events: none;
    color: gray;
    background-color: #d6d2d2 !important;
    text-decoration: none;
    cursor: not-allowed;
  }

  .table-sm td, 
    .table-sm th {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
  
  .td-actions {
    width: 10%;
  }

  .btn-small {
    padding: 5px 5px 5px 5px; /* Ajusta el padding para hacerlo más pequeño */
    font-size: 12px; /* Ajusta el tamaño de la fuente */
  }

  .icon-small {
      font-size: 14px; /* Ajusta el tamaño del icono */
  }

  .form-control-label {
    display: flex;
    align-items: center;
    height: calc(1.5em + .75rem + 2px); /* same as form-control */
    padding: 1.3rem .75rem; /* same as form-control */
    border: 1px solid #ced4da; /* same as form-control */
    border-radius: .4rem; /* same as form-control */
  }

  .form-control.bg-light {
    background-color: #f8f9fa !important; /* Fondo claro */
  }

  .btn-lg {
    font-size: 1.25rem; /* Tamaño de fuente más grande */
    padding: 0.75rem 1.25rem; /* Relleno más grande */
  }

  .td-actions form {
    display: inline;
  }

  .td-actions button {
      margin-left: 5px;
  }

  .table-row-small {
    height: 30px;
  }

  .table-cell-small {
      padding: 5px;
  }
  .custom-width-valor {
    width: 10%; /* Ajusta el porcentaje según sea necesario */
  }
