  .disabled-link {
    pointer-events: none;
    color: gray;
    background-color: #d6d2d2 !important;
    text-decoration: none;
    cursor: not-allowed;
  }

  .table-sm td, 
    .table-sm th {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
  
  .td-actions {
    width: 10%;
  }

  .btn-small {
    padding: 5px 5px 5px 5px; /* Ajusta el padding para hacerlo más pequeño */
    font-size: 12px; /* Ajusta el tamaño de la fuente */
  }

  .icon-small {
      font-size: 14px; /* Ajusta el tamaño del icono */
  }

  .form-control-label {
    display: flex;
    align-items: center;
    height: calc(1.5em + .75rem + 2px); /* same as form-control */
    padding: 1.3rem .75rem; /* same as form-control */
    border: 1px solid #ced4da; /* same as form-control */
    border-radius: .4rem; /* same as form-control */
  }

  .form-control.bg-light {
    background-color: #f8f9fa !important; /* Fondo claro */
  }

  .btn-lg {
    font-size: 1.25rem; /* Tamaño de fuente más grande */
    padding: 0.75rem 1.25rem; /* Relleno más grande */
  }

  .td-actions form {
    display: inline;
  }

  .td-actions button {
      margin-left: 5px;
  }

  .table-row-small {
    height: 30px;
  }

  .table-cell-small {
      padding: 5px;
  }
  .custom-width-valor {
    width: 10%; /* Ajusta el porcentaje según sea necesario */
  }
 
  .no-bullets {
    list-style-type: none;
    padding-left: 0; /* Opcional: para eliminar la sangría */
}

form {
  margin: 0; 
  padding: 0; 
  display: inline;
}
.select2-container .select2-selection--single {
  height: calc(1.5em + 1.25rem + 2px); /* Aumentar el alto */
  padding: 0.375rem 0.75rem; /* Corregido de -0.375rem a 0.375rem */
  font-size: 0.80rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
  background-color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #495057;
  padding-left: 1rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  right: 0.75rem;
}

.select2-container--default .select2-selection--single:hover {
  border-color: #80bdff;
}

.select2-container--default .select2-selection--single:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.custom-select2 .select2-container--default .select2-selection--single {
  height: calc(1.5em + 1.25rem + 2px) !important; /* Aumentar el alto */
  padding: 0.375rem 0.75rem !important; /* Corregido de -0.375rem a 0.375rem */
}

.custom-select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: calc(1.5em + 1rem + 2px) !important;
}

.select2-container--default .select2-results__option {
  font-size: 0.875rem; 
  line-height: 1.25; 
}


